.jumbotron{
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        font-family: 'Gabriela', serif;
        padding:16%;
        position: relative;
        overflow: hidden;
       display: flex;
       flex-direction: column;
       justify-content:center;
       height: 35rem;
       background-color: #000;
}

.text-overlay{
        background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
} 
      