<div class="m-5 d-flex justify-content-center w-50">   
    <form>
    <h5 class='display-5'>Login</h5>

      <div class="form-group"> 
          <label id='email'>Email </label>
          <input data-type="email" type="email" class="form-control" id='email' placeholder="Enter Email" />
      </div>

        <div class="form-group">
            <label id='password'>Password</label>
            <input data-type="password" type="password" class="form-control"  placeholder="Password" />
        </div>

        <button data-type="data-submit" type="submit" class="btn btn-primary m-2">Submit</button>
    </form>
</div>
